body{
	background-color: #fff;
}
.acc_center{
	padding-top: 50px;
	background-color: #fff;
	margin:0 auto;
}
.acc_center .acc_img{
	margin:0 auto;
	width: 252px;
	height:229px;
	


}
.sol_ys{
	margin-top: 30px;
}
.rigth{float: right;
	font-size: 14px;
	line-height: 50px;
	color:#666;
}